.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  text-align: center;
}

.page-container img{
  border-radius: 50%;
}

.recomandation-container {
  display: flex;
  margin: 10px auto;
  overflow-y: hidden;
  padding-bottom: 35px;
  width: 90%;
}

.iniciar-receita {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(9, 134, 156);
  position: fixed;
  bottom: 0;
  color: white;
  font-size: 15px;
  font-weight: 600;
  height: 36px;
  width: 100%;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.btn-none {
  display: none;
}

.page-container button {
  margin-left: 10px;
  border: 0;
  background-color:rgb(101, 90, 124);
}

.finalizar-receita {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(9, 134, 156);
  position: fixed;
  bottom: 0;
  color: white;
  font-size: 15px;
  font-weight: 600;
  height: 36px;
  width: 100%;
  padding: 27px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercas;
}

#btn-container img {
  border-radius: 0%;
  width: 50px;
}
