.line-through {
  color: gray;
  margin-top: 7px;
  text-align: left;
  text-decoration: line-through;
  text-justify: inter-word;
}

.ing-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.n {
  margin-top: 7px;
  text-align: left;
  text-justify: inter-word;
}

.food-container {
  display: flex;
  padding: 15px;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.food-container img {
  border-radius: 50%;
}

.instructions {
  padding-bottom: 30px;
}

.btn {
  margin-left: 10px;
  border: 0;
  background-color:rgb(101, 90, 124);
}
